/* Z-index of #mask must lower than #boxes .window */
#Gsm_mask {
	position:absolute;
	z-index:4999;
	background-color:#000;
	display:none;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2000px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=50);
	opacity: 0.8;
}
   
/*#Gsm_container {
	position: relative;
}*/
#Gsm_modal_outer {
	width: 100%;
	background-color: #D8ECEC;
	/*background-color: rgba(0,178,178, .2);*/
	-moz-box-shadow: inset 0px 0px 7px #000000;
	box-shadow: inset 0px 0px 7px #000000;
}
#Gsm_modal_outer.fullscreen {
	position: absolute;
	padding: 0px;
	z-index: 5000;
}


#Gsm_modal_outer #Gsm_modal_inner a#Gsm_fullscreen,
#Gsm_modal_outer #Gsm_modal_inner a.close {
	font-size: 12px;
	font-weight: normal;
	text-decoration: underline;
	position: absolute;
	top: 10px;
}
#Gsm_modal_outer #Gsm_modal_inner a#Gsm_fullscreen {
	left: 10px;
	z-index:5010;
}
#Gsm_modal_outer.fullscreen #Gsm_modal_inner a#Gsm_fullscreen {
	display: none;
}
#Gsm_modal_outer #Gsm_modal_inner a.close {
	right: 10px;
	z-index: 9999;
	display: none;
}
#Gsm_modal_outer.fullscreen #Gsm_modal_inner a.close {
	display: block;
}
#Gsm_modal_inner {
	margin: 0px;
	padding: 0;
	/*background-image: url(../_img/ia_header.gif);
	background-repeat: no-repeat;
	background-position: right top;*/
	font-family: verdana;
	width: 100%;
	overflow: auto;
	position: relative;
}
#Gsm_modal_outer .fullscreen #Gsm_modal_inner {
	position: absolute;
	z-index: 5020;
	left: 0px;
	width: 100%;
}
ul#ia_topmenu {
	overflow: auto;
	width: 100%;
	padding: 0;
	margin: 0px;
}
#Gsm_modal_outer #Gsm_modal_inner li#home_li {
	padding-bottom: 30px;
	display: block;
	text-align: center;
	overflow: auto;
	width: 100%;
	margin: 0;
	font-style: normal;
	line-height: 30px;
	list-style: none;
}
/*#Gsm_modal_outer a#Gsm_homelink {
	color: #000;
	width: 100%;
	text-align: center;
	z-index: 9999;
	margin: 0px;
	position: relative;
}*/
#Gsm_modal_outer #Gsm_modal_inner a#Gsm_homelink {
	color: #000;
	font-size: 16px;
	line-height: 30px;
	position: absolute;
	text-align: center;
	margin: 0;
	width: 100%;
	padding-top: 15px;
	padding-right: 55px;
	padding-left: 55px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#Gsm_modal_outer a#Gsm_homelink strong {
	background-image: url(../_img/Page_1b.png);
	background-position: left top;
	background-repeat: no-repeat;
	width: 120px;
	padding: 20px 0 60px 60px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	overflow: visible;
	display: block;
	white-space: nowrap;
	line-height: 30px;
}
/*#graphic-wp-sitemap .inside #Gsm_modal_outer a#Gsm_homelink strong {
	padding: 20px 0 46px 60px;
}
a#Gsm_homelink strong {
	font-size: 16px;
	background-image: url(../_img/Page_1b.png);
	background-position: left top;
	background-repeat: no-repeat;
	width: 250px;
	line-height: 30px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-left: 60px;
	text-align: left;
	overflow: visible;
	display: block;
}*/

#Gsm_modal_outer #Gsm_modal_inner h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #0C7779;
	display: block;
	padding-bottom: 35px;
	line-height: 24px;
	padding-top: 70px;
	margin-top: 0px;
	margin-bottom: 0px;
	position: absolute;
	z-index: 3998;
	padding-left: 20px;
}
#Gsm_modal_outer #Gsm_modal_inner img,
#Gsm_modal_outer #Gsm_modal_inner form, 
#Gsm_modal_outer #Gsm_modal_inner table, 
#Gsm_modal_outer #Gsm_modal_inner input, 
#Gsm_modal_outer #Gsm_modal_inner textarea, 
#Gsm_modal_outer #Gsm_modal_inner button, 
#Gsm_modal_outer #Gsm_modal_inner object, 
#Gsm_modal_outer #Gsm_modal_inner embed, 
#Gsm_modal_outer #Gsm_modal_inner br {
	display: none;
}
#Gsm_modal_outer #Gsm_modal_inner ul.sub-menu {
	margin: -30px 0 0 0;
	padding: 40px 10px 0 10px;
	list-style-type: none;
	text-align: center;
	display: block;
	color: #FFF;
}
#Gsm_modal_outer #Gsm_modal_inner ul#ia_toplevel {
	width: 100%;
	display: block;
	margin: 0px;
	padding: 94px 20px 20px;
	white-space: nowrap;
}
#Gsm_modal_outer #Gsm_modal_inner li li {
	text-align: center;
	float: left;
	/*width: 300px;*/
	display: block;
	background-image: url(../_img/branch1_center.gif);
	background-position: center 30px;
	padding: 60px 20px 20px 20px;
	background-repeat: no-repeat;
	white-space: nowrap;
	font-style: normal;
	list-style-type: none;
	margin: 0px;
}

#Gsm_modal_outer #Gsm_modal_inner li li:last-child {
	background-image: url(../_img/branch1_right.png);
}
#Gsm_modal_outer #Gsm_modal_inner li li:first-child {
	background-image: url(../_img/branch1_left.png);
}
#Gsm_modal_outer #Gsm_modal_inner li li:only-child {
	background-image: url(../_img/single_branch.gif);
	background-position: center -40px;
}

#Gsm_modal_outer #Gsm_modal_inner a
{
	text-decoration: none;
	background-position: center top;
	display: block;
	background-repeat: no-repeat;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 0px;
	margin-bottom: 0px;
	top: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
}

#Gsm_modal_outer #Gsm_modal_inner li li a
{
	background-image: url(../_img/Page_2.png);
	background-position: center top;
	padding-top: 39px;
	font-size: 14px;
	color: #F30;
	position: static;
	width: auto;
	text-align: center;
	padding-bottom: 30px;
	padding-right: 0px;
	padding-left: 0px;
	line-height: 26px;
}
#Gsm_modal_outer #Gsm_modal_inner li li li a
{
	background-image: url(../_img/Page_3.png);
	background-position: center top;
	padding-top: 24px;
	padding-bottom: 10px;
	color: #066;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
}
#Gsm_modal_outer #Gsm_modal_inner li li li li a
{
	background-image: url(../_img/Page_4.png);
	background-position: left top;
	padding: 0 0 0 17px;
	color: #222;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	text-align: left;
}

#Gsm_modal_outer #Gsm_modal_inner ul ul ul {
	background-image: url(../_img/branch1_center.gif);
	background-position: center -2px;
	padding-top: 30px;
	margin-top: -30px;
	background-repeat: no-repeat;
	position: static;
	top: auto;
	width: auto;
	list-style-type: none;
}
#Gsm_modal_outer #Gsm_modal_inner ul ul ul ul {
	background-image: none;
	padding-top: 5px;
	margin-top: 0px;
}
#Gsm_modal_outer #Gsm_modal_inner li li li {
	width: 89px;
	white-space: normal;
	margin-top: -30px;
	list-style-type: none;
}
#Gsm_modal_outer #Gsm_modal_inner li li li li {
	width: auto;
	text-align: left;
	background-image: none;
	padding: 6px;
	float: none;
	margin-bottom: -6px;
	margin-top: 0px;
	margin-left: -6px;
	overflow: hidden;
	white-space: nowrap;
	list-style-type: none;
}
#Gsm_modal_outer #Gsm_modal_inner li li:hover {
	background-color: #fff;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
#Gsm_modal_outer #Gsm_modal_inner li li li:hover {
	background-color:#DFF0F0;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
#Gsm_modal_outer #Gsm_modal_inner li li li li:hover {
	background-color: rgba(255, 255, 255, .8);
	-moz-border-radius: 8px;
	border-radius: 8px;
	position: relative;
	z-index: 500;
	width: 280px;
	display: block;
	-webkit-box-shadow: 0px 2px 8px #005763;
	-moz-box-shadow: 0px 2px 8px #005763;
	box-shadow: 0px 2px 8px #005763;
}
#Gsm_modal_outer #Gsm_modal_inner li li li a:hover, 
#Gsm_modal_outer #Gsm_modal_inner li li li:hover a {
	color:#F30;
}

#Gsm_modal_outer #Gsm_modal_inner li li li:hover li a {
	color: #222;
}
#Gsm_modal_outer #Gsm_modal_inner li li li li a:hover,
#Gsm_modal_outer #Gsm_modal_inner li li li li:hover a {
	color: #F30;
	overflow: visible;
}

/* -------------------------------------- */
#Gsm_modal_outer #Gsm_modal_inner p.Gsm_linklove {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-weight: normal;
	font-size: 9px;
	text-align: right;
	color: #333;
}
#Gsm_modal_outer #Gsm_modal_inner p.Gsm_linklove a {
	display: inline;
	color: #000;
	font-weight: normal;
	font-size: 9px;
}
#Gsm_modal_outer #Gsm_modal_inner p.Gsm_linklove a:visited {
	display: inline;
	color:#822;
}
#Gsm_modal_outer #Gsm_modal_inner p.Gsm_linklove a:hover {
	display: inline;
	color:#F30;
}